@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-area="" asp-page="/Account/Logout" class="form-inline">
        <span class="text-white">Hello, @UserManager.GetUserName(User)!</span>
        <button type="submit" class="btn btn-link text-white">Logout</button>
    </form>
}
else
{
    <a asp-area="" asp-page="/Account/Login" class="btn btn-link text-white">Login</a>
}